<div id="<%= dom_id music %>">
  <p>
    <strong>Artist:</strong>
    <%= music.artist %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= music.title %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= music.tag %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= music.label %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= music.country %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= music.genre %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= music.release_date %>
  </p>

</div>
